@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open%20Sans);

body, div {
	margin: 0;
	padding: 0;
}

h1 {
	font: 400 24px Arial;
}

h2 {
	font: 400 20px Arial;
	text-indent: 1em;
}

#title {
	height: 45px;
	width: 100%;
	background: #aaa;
	text-align: center;
}

#title_title {
	line-height: 45px;
}

#content {
	margin-top: 30px;
	height: 100px;
	background: #ddd;
}