@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Open%20Sans);

body, div, ul, li, a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #000;
}

h1 {
	font: 400 24px Arial;
}

h2 {
	font: 400 20px Arial;
	text-indent: 1em;
}

#title {
	height: 45px;
	width: 100%;
	background: #aaa;
	text-align: center;
}

#title_title {
	line-height: 45px;
}

#menu {
	margin-top: 30px;
	text-align: center;
}

#menu ul li {
	display: inline;
	padding: 10px 20px;
}

#menu ul li:hover {
	background: #ccc;
}

#sincronizar {
	cursor: pointer;
}

#sinc_result {
	margin-top: 0.5em;
	height: 1.5em;
	line-height: 1.5em;
	text-align: center;
	background: #42a5a5;
	color: #e5e592;
	display: none;
}

#content {
	margin-top: 3em;
}

#listagem {
	margin-top: 1em;
}

#index_content {
	margin-top: 2em;
}

.listagem_item {
	cursor: pointer;
}